/*--------------- DESKTOP --------------------*/
@media screen and (min-width: 780px) {

  p.date{
    float: right;
  }

  #wrapper{
    max-width: 1260px;
    min-width: 780px;
    box-shadow: -5px 5px 5px black;
    margin: 10px auto 0 auto;
  }

  header.nav {
    width: 102%;
    position: relative;
    z-index: 1;
    box-shadow: -5px 5px 5px black;
  }

  /*-----------------------------------SIDEBAR--------------------------*/

  section.sidebar {
    width: 40%;
    float: left;
    padding-top: 1%;
    clear: left;
    nav {
      width: 90%;
      margin: 0 auto;
      .form-control {
        width: 94%;
      }
    }
    div#recent {
      width: 94%;
      margin: 3% auto;
      .activity {
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /*-----------------------------MAIN CONTENT---------------------*/

  section#maincontent {
    header.mobile-only{
      display: none;
    }
    float: right;
    width: 58%;
    padding: 1%;
    margin-bottom: 3%;
    article {
      width: 98%;
      min-height: 200px;
      margin: 0 auto 2% auto;
      background: $articlebkg;
      padding: 1%;
      position: relative;
      border: 1px solid darken($articlebkg, 20%);
      .title a {
        font-size: 1.3em;
        color: $h1;
      }
      .articledata {
        font-size: 1.1em;
        margin-bottom: 2%;
      }
      .readall {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }
  }
  /*registration form*/
  form#registerform {
    legend {
      width: 98%;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid darken($articlebkg, 20%);
    }
    .form-control {
      width: 94%;
    }
  }
  /*------article styles------*/

  div#articlebox {
    div#articlecontent {
      h1 {
        @include editbutton;
        @include deletebutton;
      }
    }

  }

  div#commentbox {
    header {
      @include editbutton;
      @include deletebutton;
    }
  }

  div#profiledit {
    .form-control {
      width: 96%;
    }
  }

  div.userlist {
    margin-top: 10px;
  }

  .clearfix {
    &:after {
      content: "";
      display: table; /*why not block? because Internet Explorer, that's why */
      clear: both;
    }
  }
}