/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

em {
  margin: 0;
  padding: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Open Sans', sans-serif;
  background: #4A3820; }

a {
  text-decoration: none; }

span.fa {
  font-size: 1.5em; }

p, h2, h3, h4, a {
  color: #1F1812; }

h1 {
  font-size: 1.5em;
  color: #8A2F12; }

#wrapper {
  width: 90%;
  background: #E6D5A1; }

header {
  width: 100%; }
  header.mainHeader {
    background: #1F1812; }
    header.mainHeader a {
      color: white;
      line-height: 30px;
      padding: 5px;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      -o-transition: background 0.5s ease;
      transition: background 0.5s ease; }
      header.mainHeader a:hover {
        background: grey; }
    header.mainHeader p.date {
      float: right;
      color: white;
      line-height: 20px;
      padding: 5px; }
  header.nav {
    color: #d2b997;
    font-size: 1.5em;
    display: block;
    text-align: center;
    background: #4A3820;
    padding-bottom: 5px;
    line-height: 150%; }

section.sidebar nav li {
  display: block;
  width: 100%;
  background: #dbc379;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #d1b150; }
  section.sidebar nav li span {
    padding-left: 5%;
    width: 10%; }
  section.sidebar nav li span.unreadmessages {
    padding-left: 0;
    color: red; }
section.sidebar nav .form-control {
  width: 90%;
  margin: 0 auto; }
section.sidebar nav legend {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #d1b150; }
section.sidebar div#recent .activity {
  padding: 2%;
  width: 96%;
  min-height: 70px;
  background: #dbc379;
  border-bottom: 1px solid #d1b150; }
  section.sidebar div#recent .activity .eventtype {
    padding-top: 2%; }
  section.sidebar div#recent .activity span.articleemphasis {
    color: #947927; }
  section.sidebar div#recent .activity a {
    text-align: left; }

section#maincontent .pagination li {
  display: inline;
  border-bottom: 1px solid black; }
  section#maincontent .pagination li .currentpage {
    font-weight: 700; }
  section#maincontent .pagination li a {
    font-size: 1.3em; }
    section#maincontent .pagination li a:hover {
      color: #8A2F12; }
section#maincontent .pagination ul {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

footer {
  clear: both;
  width: 100%;
  height: 30px;
  background: #1F1812; }
  footer p {
    color: white;
    text-align: center;
    line-height: 30px; }
    footer p a {
      color: white; }
      footer p a:hover {
        text-decoration: underline; }

div#articlebox {
  border: 1px solid #bc9a32;
  padding: 1%; }
  div#articlebox div#articlecontent {
    text-align: justify;
    border-bottom: 2px solid #bc9a32; }
    div#articlebox div#articlecontent h1 {
      width: 100%;
      border-bottom: 1px solid #d1b150;
      padding-bottom: 1%; }
    div#articlebox div#articlecontent span.articletext {
      display: block;
      padding-top: 1%;
      line-height: 1.3em;
      padding-bottom: 1%; }
  div#articlebox div#articlebottom {
    padding-top: 1%; }
    div#articlebox div#articlebottom img {
      display: block;
      float: left; }
    div#articlebox div#articlebottom div#articleinfo {
      float: left;
      padding-left: 2%; }
      div#articlebox div#articlebottom div#articleinfo h2 {
        font-size: 1.2em;
        padding-bottom: 2%; }

/* ---- comment style ----*/
header.contentheader {
  width: 100%;
  background: #4A3820;
  color: #d2b997;
  text-align: center;
  line-height: 30px;
  font-size: 1.2em; }

div#commentbox {
  padding: 1%;
  border: 1px solid #bc9a32; }
  div#commentbox div.comment {
    padding-bottom: 15px;
    border-bottom: 1px solid #bc9a32;
    margin-bottom: 15px; }
    div#commentbox div.comment .avatar {
      float: left;
      display: block;
      margin: 0 10px 0 0;
      font-size: 0.8em; }
    div#commentbox div.comment section {
      text-align: justify; }
    div#commentbox div.comment:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0; }

/* ---- add comment style ---- */
section#addcomment header {
  margin-top: 10px;
  font-weight: 700;
  color: #301006;
  text-align: center; }

/* ------ Profile page style ------------- */
div#profilepage {
  border: 1px solid #bc9a32; }
  div#profilepage img {
    float: right;
    padding: 2%;
    display: block; }
  div#profilepage div#userinfo {
    padding: 2%; }
    div#profilepage div#userinfo p {
      margin-top: 1%; }
      div#profilepage div#userinfo p:first-child {
        margin-top: 0; }
    div#profilepage div#userinfo a.addedarticles {
      text-decoration: underline; }
  div#profilepage div#aboutme {
    padding: 0 0 2% 2%; }

/* ------- Private message styling -------------- */
/* navigation on the top */
nav.pmnav li {
  display: inline-block;
  padding: 5px 5px 5px 21px;
  float: left;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  nav.pmnav li.receivedmail {
    background: url("../assets/mail-receive.png") left center no-repeat;
    background-position-x: 2px; }
  nav.pmnav li.sentmail {
    background: url("../assets/mail-send.png") left center no-repeat;
    background-position-x: 2px; }
  nav.pmnav li:hover {
    background-color: #bc9a32; }
  nav.pmnav li.pm_activemenu {
    background-color: #bc9a32; }

/*message table*/
table.messagetable {
  border-bottom: 1px solid #bc9a32;
  border-top: 1px solid #bc9a32;
  width: 100%;
  text-align: center; }
  table.messagetable th, table.messagetable td {
    border-bottom: 1px solid #bc9a32;
    padding: 5px; }
  table.messagetable tr.read td.image {
    width: 15px;
    height: 15px;
    background: url("../assets/mail-open.png") center no-repeat; }
  table.messagetable tr.unread {
    background-color: #ff9999; }
    table.messagetable tr.unread td.image {
      width: 15px;
      height: 15px;
      background: url("../assets/mail.png") center no-repeat; }
  table.messagetable td.messagetitle {
    text-align: left; }

/*message reading page*/
div#messagebox div#messagecontent h1 {
  clear: left;
  width: 100%;
  border-top: 1px solid #bc9a32;
  border-bottom: 1px solid #bc9a32; }
div#messagebox div#messagecontent img {
  padding: 10px; }
div#messagebox div#messagecontent div.left {
  float: left; }
div#messagebox div#messagecontent div.right {
  float: right; }
div#messagebox div#messagecontent span.messagetext {
  display: block;
  text-align: justify;
  padding: 10px 10px 10px 0; }
div#messagebox div#messagebottom {
  padding: 10px;
  border-top: 1px solid #bc9a32; }
  div#messagebox div#messagebottom span.left {
    float: left; }
  div#messagebox div#messagebottom span.right {
    float: right; }
  div#messagebox div#messagebottom a.reply {
    float: right; }

/*message writing*/
input#messagetitle {
  width: 99%;
  margin-left: 0.25%;
  height: 30px; }

span.simpleuser {
  color: #604a37; }
  span.simpleuser:hover {
    text-decoration: underline; }

span.admin {
  color: #990000; }
  span.admin:hover {
    text-decoration: underline; }

span.moderator {
  color: #000099; }
  span.moderator:hover {
    text-decoration: underline; }

/* ---- warnings ------*/
p.registrationIncorrectInput {
  padding: 1%;
  width: 94%;
  color: #ff3333;
  border: 1px solid #ff6666;
  background-color: #ffcccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 2px; }

p.usernameAvailable {
  color: #00b300;
  border: 1px solid #00e600;
  background-color: #b3ffb3; }

div.warningBox {
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #cc8400;
  border: 1px solid #664200; }
  div.warningBox a {
    text-decoration: underline; }
  div.warningBox.successful {
    color: #00b300;
    border: 1px solid #00e600;
    background-color: #b3ffb3; }

/* ----- User's added articles styles -----*/
table.articles td {
  vertical-align: middle; }
table.articles td.title a {
  float: left;
  color: #E67026; }
  table.articles td.title a:hover {
    text-decoration: underline; }

/* ------ online users ------*/
section#onlineusers {
  clear: both;
  width: 96%;
  margin: 1%;
  border: 1px solid #bc9a32;
  padding: 1%; }
  section#onlineusers a {
    padding-right: 3px; }

/* ----- statistics -----*/
article#statsarticle p {
  padding: 13px;
  font-size: 1.2em; }

/*# sourceMappingURL=global_styles.css.map */
