@import 'reset.scss';
@mixin allowedTags{
  strong{
    font-weight: bold;
  }
  a{
    &:hover{
      text-decoration: underline;
    }
  }
  ul{
    list-style: disc;
  }
  ol{
    list-style: decimal;
  }
  ol,ul{
    list-style-position: inside;
  }
}
@mixin transition($element, $duration:0.5s){
  -webkit-transition: $element $duration ease;
  -moz-transition: $element $duration ease;
  -o-transition: $element $duration ease;
  transition: $element $duration ease;
}
@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin editbutton{
  a.editbutton{
    font-size: 0.7em;
    float: right;
    color: darken(green, 5%);
  }
}
@mixin deletebutton{
  a.deletebutton{
    margin-right: 3px;
    font-size: 0.7em;
    float: right;
    color: darken(green, 5%);
  }
}
$background: #4A3820;
$text: #1F1812;
$headfoot: #1F1812;
$menus: #E6D5A1;
$articlebkg: darken($menus, 10%);
$menutext: #E67026;
$h1: #8A2F12;

html{
  font-family: 'Open Sans', sans-serif;
  background: $background;
}
a{
  text-decoration: none;
}
span.fa{
  font-size: 1.5em;
}
p, h2, h3, h4, a{
  color: $text;
}
h1{
  font-size: 1.5em;
  color: $h1;
}
#wrapper {
  width: 90%;
  background: $menus;
}
header {
  width: 100%;
  //height: 30px;
  &.mainHeader {
    background: $headfoot;
    a {
      color: white;
      line-height: 30px;
      padding: 5px;
      @include transition(background);
      &:hover {
        background: grey;
      }
    }
    p.date {
      float: right;
      color: white;
      line-height: 20px;
      padding: 5px;
    }
  }
  &.nav{
    color: lighten($background, 50%);
    font-size: 1.5em;
    display: block;
    text-align: center;
    background: $background;
    padding-bottom: 5px;
    line-height: 150%;

  }
}
section.sidebar{
  nav{
    li{
      display: block;
      width: 100%;
      background: $articlebkg;
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid darken($articlebkg, 10%);
      @include transition(background);
      &:hover {
        background: darken($articlebkg, 10%);
      }
      span {
        padding-left: 5%;
        width: 10%;
      }
      span.unreadmessages {
        padding-left: 0;
        color: red;
      }
    }
    .form-control {
      width: 90%;
      margin: 0 auto;
    }
    legend {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid darken($articlebkg, 10%);
    }
  }
  div#recent {
    .activity {
      padding: 2%;
      width: 96%;
      min-height: 70px;
      background: $articlebkg;
      border-bottom: 1px solid darken($articlebkg, 10%);
      .eventtype {
        padding-top: 2%;
      }
      span.articleemphasis {
        color: darken($menus, 40%);
      }
      a {
        text-align: left;
      }
    }
  }
}
section#maincontent{
  .pagination {
    li {
      display: inline;
      border-bottom: 1px solid black;
      .currentpage {
        font-weight: 700;
      }
      a {
        font-size: 1.3em;
        &:hover {
          color: $h1;
        }
      }
    }
    ul {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
}
footer {
  clear: both;
  width: 100%;
  height: 30px;
  background: $headfoot;
  p {
    color: white;
    text-align: center;
    line-height: 30px;
    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.postheading {
  width: 99%;
  margin-left: 0.25%;
  height: 30px;
}
div#articlebox{
  @include allowedTags;
  border: 1px solid darken($articlebkg, 20%);
  padding: 1%;
  div#articlecontent {
    text-align: justify;
    h1 {
      width: 100%;
      border-bottom: 1px solid darken($articlebkg, 10%);
      padding-bottom: 1%;
    }
    span.articletext {
      display: block;
      padding-top: 1%;
      line-height: 1.3em;
      padding-bottom: 1%;
    }
    border-bottom: 2px solid darken($articlebkg, 20%);
  }
  div#articlebottom {
    padding-top: 1%;
    img {
      display: block;
      float: left;
    }
    div#articleinfo {
      float: left;
      padding-left: 2%;
      h2 {
        font-size: 1.2em;
        padding-bottom: 2%;
      }
    }
  }
}
/* ---- comment style ----*/
header.contentheader {
  width: 100%;
  background: $background;
  color: lighten($background, 50%);
  text-align: center;
  line-height: 30px;
  font-size: 1.2em;
}
div#commentbox {
  @include allowedTags;
  padding: 1%;
  border: 1px solid darken($articlebkg, 20%);
  div.comment {
    .avatar {
      float: left;
      display: block;
      margin: 0 10px 0 0;
      font-size: 0.8em;
    }
    section {
      text-align: justify;
    }
    padding-bottom: 15px;
    border-bottom: 1px solid darken($articlebkg, 20%);
    margin-bottom: 15px;
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}
/* ---- add comment style ---- */

section#addcomment {
  header {
    margin-top: 10px;
    font-weight: 700;
    color: darken($h1, 20%);
    text-align: center;
  }
}
/* ------ Profile page style ------------- */

div#profilepage {
  border: 1px solid darken($articlebkg, 20%);
  img {
    float: right;
    padding: 2%;
    display: block;
  }
  div#userinfo {
    padding: 2%;
    p {
      margin-top: 1%;
      &:first-child {
        margin-top: 0;
      }
    }
    a.addedarticles {
      text-decoration: underline;
    }
  }
  div#aboutme {
    @include allowedTags;
    padding: 0 0 2% 2%;
  }
}
/* ------- Private message styling -------------- */

/* navigation on the top */
nav.pmnav {
  li {
    display: inline-block;
    padding: 5px 5px 5px 21px;
    float: left;
    @include transition(background-color);
    &.receivedmail {
      background: url("../assets/mail-receive.png") left center no-repeat;
      background-position-x: 2px;
    }
    &.sentmail {
      background: url("../assets/mail-send.png") left center no-repeat;
      background-position-x: 2px;
    }
    &:hover {
      background-color: darken($articlebkg, 20%);
    }
    &.pm_activemenu {
      background-color: darken($articlebkg, 20%);
    }
  }
}
/*message table*/
table.messagetable {
  border-bottom: 1px solid darken($articlebkg, 20%);
  border-top: 1px solid darken($articlebkg, 20%);
  width: 100%;
  text-align: center;
  th, td {
    border-bottom: 1px solid darken($articlebkg, 20%);
    padding: 5px;
  }
  tr.read {
    td.image {
      width: 15px;
      height: 15px;
      background: url("../assets/mail-open.png") center no-repeat;
    }
  }
  tr.unread {
    td.image {
      width: 15px;
      height: 15px;
      background: url("../assets/mail.png") center no-repeat;
    }
    background-color: lighten(red, 30%);
  }
  td.messagetitle {
    text-align: left;
  }
}
/*message reading page*/
div#messagebox {
  div#messagecontent {
    h1 {
      clear: left;
      width: 100%;
      border-top: 1px solid darken($articlebkg, 20%);
      border-bottom: 1px solid darken($articlebkg, 20%);
    }
    img {
      padding: 10px;
    }
    div.left {
      float: left;
    }
    div.right {
      float: right;
    }
    span.messagetext {
      display: block;
      text-align: justify;
      padding: 10px 10px 10px 0;
    }
  }
  div#messagebottom {
    padding: 10px;
    border-top: 1px solid darken($articlebkg, 20%);
    span.left {
      float: left;
    }
    span.right {
      float: right;
    }
    a.reply {
      float: right;
    }
  }
}
/*message writing*/
input#messagetitle {
  width: 99%;
  margin-left: 0.25%;
  height: 30px;
}
span.simpleuser {
  color: lighten($text, 20%);
  &:hover {
    text-decoration: underline;
  }
}
span.admin {
  color: darken(red, 20%);
  &:hover {
    text-decoration: underline;
  }
}
span.moderator {
  color: darken(blue, 20%);
  &:hover {
    text-decoration: underline;
  }
}
/* ---- warnings ------*/
p.registrationIncorrectInput {
  padding: 1%;
  width: 94%;
  color: lighten(red, 10%);
  border: 1px solid lighten(red, 20%);
  background-color: lighten(red, 40%);
  @include border-radius(5px);
  margin-top: 2px;
}
p.usernameAvailable {
  color: lighten(green, 10%);
  border: 1px solid lighten(green, 20%);
  background-color: lighten(green, 60%);
}
div.warningBox {
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: darken(orange, 10%);
  border: 1px solid darken(orange, 30%);
  a {
    text-decoration: underline;
  }
  &.successful {
    color: lighten(green, 10%);
    border: 1px solid lighten(green, 20%);
    background-color: lighten(green, 60%);
  }
}
/* ----- User's added articles styles -----*/

table.articles {
  td {
    vertical-align: middle;
  }
  td.title a {
    float: left;
    color: $menutext;
    &:hover {
      text-decoration: underline;
    }
  }

}
/* ------ online users ------*/

section#onlineusers {
  clear: both;
  width: 96%;
  margin: 1%;
  border: 1px solid darken($articlebkg, 20%);
  padding: 1%;
  a {
    padding-right: 3px;
  }
}
/* ----- statistics -----*/
article#statsarticle {
  p {
    padding: 13px;
    font-size: 1.2em;
  }
}