/*-------------- MOBILE DEVICES --------------*/
@media screen and (max-width: 779px){
  header{
    &.mainHeader{
      p.date{
        display: none;
      }
    }
  }
  #wrapper{
    width: 99%;
    margin: 0 auto;
  }
  .btn{
    border: none;
    margin-left: 0.5%;
    width: 99%;
    height: 50px;
    padding: 0;
  }
  .btn-primary{
    line-height: 50px;
  }
  div#recent{
    .activity{
      a{
        font-size: 1.1em;
      }
    }
  }

  section#maincontent{
    margin: 3% 0 3% 0;
    article{
      border-bottom: 2px solid darken($articlebkg, 20%);
      background: $articlebkg;
      padding: 1% 0 1.5% 0;
      .title a{
        font-size: 1.1em;
        color: $h1;
      }
      .articledata{
        margin-bottom: 2%;
      }
      .readall{
        margin-top: 1%;
        height: 40px;
        line-height: 40px;
        font-size: 1em;
      }
    }
    .pagination {
      li {
        margin-right: 2%;
        a {
          font-size: 1.4em;
        }
      }
      ul {
        margin: 1% auto;
      }
    }
  }
  div#articlebox{
    .btn{
      font-size: 0.7em;
      padding: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      margin: 2% 0 0 0;
    }
  }
  form#registerform {
    float: none;
    padding: 1%;
    legend {
      width: 98%;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid darken($articlebkg, 20%);
    }
    .form-control {
      width: 91%;
      margin: 0 auto;
    }
  }
  div#commentbox{
    .btn{
      width: auto;
      height: auto;
      font-size: 1em;
      margin-left: 10px;
    }
  }
  div#profilepage {
    .btn{
      max-width: 40%;
      font-size: 1em;
      height: 40px;
      line-height: 40px;
    }
  }
  div#profiledit {
    padding: 5px;
    .form-control {
      width: 90%;
      margin: 0 auto;
    }
  }
  /*message reading page*/
  div#messagebox {
    div#messagecontent {
      padding: 5px;
    }
    div#messagebottom {
      .btn{
        margin-top: 10px;
      }
    }
  }

}